body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  color: #232323;
  -webkit-font-smoothing: antialiased;
}

nav li:hover:not(.cart) {
  background-color: #FE5F1E;
  transition: all 400ms cubic-bezier(0.19, 1, 0.56, 1);
  color: #fff;
}

section.hero {
  background-color: #f8f8f8;
}

.size {
  background-color: #f8f8f8;
}

.add-to-cart {
  color: #FE5F1E;
  transition: all 400ms cubic-bezier(0.19, 1, 0.56, 1);
  border: 2px solid #FE5F1E;
}
.add-to-cart:hover {
  background-color: #FE5F1E;
  border-color: #fff;
  color: #fff;
}

section.cart {
  background-color: #f8f8f8;
}
section.cart .amount {
  color: #FE5F1E;
}

.btn-primary {
  color: #fff;
  background-color: #FE5F1E;
  transition: all 400ms cubic-bezier(0.19, 1, 0.56, 1);
  border: 2px solid #FE5F1E;
}
.btn-primary:hover {
  background-color: #fff;
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
}
.btn-secondary {
  color: #FE5F1E;
  transition: all 400ms cubic-bezier(0.19, 1, 0.56, 1);
  border: 2px solid #FE5F1E;
}
.btn-secondary:hover {
  background-color: #FE5F1E;
  border: 2px solid #FE5F1E;
  color: #fff;
}
.referToOtherPage{
  color: #FE5F1E;
  transition: all 400ms cubic-bezier(0.19, 1, 0.56, 1);
}
.referToOtherPage:hover{
  color: #c63d07;
}