<section class="hero py-16">
    <div class="container mx-auto flex justify-between items-center">
        <div class="w-1/2">
            <h6 class="text-2xl py-3"><em>Are you a Pizza🍕 Lover?</em></h6>
            <h1 class="text-6xl">Order Now! Show some Love❤️</h1>
            <button class="px-4 py-2 btn-primary rounded-full mt-5 font-bold text-lg">Order Now</button>
        </div>
        <div class="w-1/2">
            <img src="/images/hero-pizza.png">
        </div>
    </div>
</section>

<section class="menu container mx-auto py-6">
    <h1 class="text-xl font-bold mb-6">All Pizzas 🍕 List</h1>
    <div class="grid mx-auto lg:grid-cols-4 gap-x-5 md:grid-cols-3 sm:grid-cols-2 gap-y-12 mb-12">

        <div class="w-64 card-conatiner">
            <div>
                <img class="h-40 m-auto mb-4" src="/images/pizza-1.png" alt="pizza-1">
            </div>
            <div class="text-center">
                <h3 class="mb-4 text-lg">Margherita</h3>
                <span class="size py-1 px-4 uppercase text-sm rounded-full">small</span>
            </div>
            <div class="flex items-center justify-around mt-6">
                <span class="font-bold ">₹225</span>
                <button class="add-to-cart px-6 py-1 rounded-full border-[2px]">
                    <span>+</span>
                    <span class="ml-4">Add</span>
                </button>
            </div>
        </div>

        <div class="w-64">
            <div>
                <img class="h-40 m-auto mb-4" src="/images/pizza-2.png" alt="pizza-1">
            </div>
            <div class="text-center">
                <h3 class="mb-4 text-lg">Margherita</h3>
                <span class="size py-1 px-4 uppercase text-sm rounded-full">small</span>
            </div>
            <div class="flex items-center justify-around mt-6">
                <span class="font-bold ">₹225</span>
                <button class="add-to-cart px-6 py-1 rounded-full border-[2px]">
                    <span>+</span>
                    <span class="ml-4">Add</span>
                </button>
            </div>
        </div>

        <div class="w-64">
            <div>
                <img class="h-40 m-auto mb-4" src="/images/pizza-3.png" alt="pizza-1">
            </div>
            <div class="text-center">
                <h3 class="mb-4 text-lg">Margherita</h3>
                <span class="size py-1 px-4 uppercase text-sm rounded-full">small</span>
            </div>
            <div class="flex items-center justify-around mt-6">
                <span class="font-bold ">₹225</span>
                <button class="add-to-cart px-6 py-1 rounded-full border-[2px]">
                    <span>+</span>
                    <span class="ml-4">Add</span>
                </button>
            </div>
        </div>

        <div class="w-64">
            <div>
                <img class="h-40 m-auto mb-4" src="/images/pizza-4.png" alt="pizza-1">
            </div>
            <div class="text-center">
                <h3 class="mb-4 text-lg">Margherita</h3>
                <span class="size py-1 px-4 uppercase text-sm rounded-full">small</span>
            </div>
            <div class="flex items-center justify-around mt-6">
                <span class="font-bold ">₹225</span>
                <button class="add-to-cart px-6 py-1 rounded-full border-[2px]">
                    <span>+</span>
                    <span class="ml-4">Add</span>
                </button>
            </div>
        </div>

        <div class="w-64">
            <div>
                <img class="h-40 m-auto mb-4" src="/images/pizza-2.png" alt="pizza-1">
            </div>
            <div class="text-center">
                <h3 class="mb-4 text-lg">Margherita</h3>
                <span class="size py-1 px-4 uppercase text-sm rounded-full">small</span>
            </div>
            <div class="flex items-center justify-around mt-6">
                <span class="font-bold ">₹225</span>
                <button class="add-to-cart px-6 py-1 rounded-full border-[2px]">
                    <span>+</span>
                    <span class="ml-4">Add</span>
                </button>
            </div>
        </div>

        <div class="w-64">
            <div>
                <img class="h-40 m-auto mb-4" src="/images/pizza-4.png" alt="pizza-1">
            </div>
            <div class="text-center">
                <h3 class="mb-4 text-lg">Margherita</h3>
                <span class="size py-1 px-4 uppercase text-sm rounded-full">small</span>
            </div>
            <div class="flex items-center justify-around mt-6">
                <span class="font-bold ">₹225</span>
                <button class="add-to-cart px-6 py-1 rounded-full border-[2px]">
                    <span>+</span>
                    <span class="ml-4">Add</span>
                </button>
            </div>
        </div>

        <div class="w-64">
            <div>
                <img class="h-40 m-auto mb-4" src="/images/pizza-3.png" alt="pizza-1">
            </div>
            <div class="text-center">
                <h3 class="mb-4 text-lg">Margherita</h3>
                <span class="size py-1 px-4 uppercase text-sm rounded-full">small</span>
            </div>
            <div class="flex items-center justify-around mt-6">
                <span class="font-bold ">₹225</span>
                <button class="add-to-cart px-6 py-1 rounded-full border-[2px]">
                    <span>+</span>
                    <span class="ml-4">Add</span>
                </button>
            </div>
        </div>

        <div class="w-64">
            <div>
                <img class="h-40 m-auto mb-4" src="/images/pizza-1.png" alt="pizza-1">
            </div>
            <div class="text-center">
                <h3 class="mb-4 text-lg">Margherita</h3>
                <span class="size py-1 px-4 uppercase text-sm rounded-full">small</span>
            </div>
            <div class="flex items-center justify-around mt-6">
                <span class="font-bold ">₹225</span>
                <button class="add-to-cart px-6 py-1 rounded-full border-[2px]">
                    <span>+</span>
                    <span class="ml-4">Add</span>
                </button>
            </div>
        </div>

    </div>
</section>