<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RealTime-Pizza Application</title>
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
  </head>

  <body>
    <nav class="container mx-auto justify-between items-center flex">
      <div class="flex items-center p-3">
        <a href="/">
          <lord-icon
            src="https://cdn.lordicon.com/ememvspi.json"
            trigger="loop"
            delay="1000"
            colors="primary:#f24c00,secondary:#ffc738"
            style="width: 70px; height: 70px"
          >
          </lord-icon>
        </a>
        <label class="text-3xl font-bold px-5"
          ><a href="/"> Pizza Application</a></label
        >
      </div>
      <div class="flex">
        <ul class="flex items-center p-3 right-0 font-bold">
          <li class="ml-1 inline-block bg-transparent rounded-full px-4 py-2">
            <a href="/menu">Menu</a>
          </li>
          <li class="ml-1 inline-block bg-transparent rounded-full px-4 py-2">
            <a href="/offers">Offers</a>
          </li>
          <li class="ml-1 inline-block bg-transparent rounded-full px-4 py-2">
            <a href="/locations">Locations</a>
          </li>
          <li class="ml-1 inline-block bg-transparent rounded-full px-4 py-2">
            <a href="/register">Register</a>
          </li>
          <li class="ml-1 inline-block bg-transparent rounded-full px-4 py-2">
            <a href="/login">login</a>
          </li>
          <li class="ml-1 cart inline-block rounded-full px-4 py-1">
            <a href="/carts">
              <lord-icon
                src="https://cdn.lordicon.com/ggihhudh.json"
                trigger="loop"
                delay="1000"
                colors="primary:#121331,secondary:#646e78,tertiary:#e86830"
                style="width: 50px; height: 50px"
              >
              </lord-icon>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <%- body %>

    <footer></footer>
  </body>
</html>
