@import './variables';

body{
    background-color: $pure;
    font-family :Arial, Helvetica, sans-serif;
    color: $dark;
    -webkit-font-smoothing: antialiased;
}
nav li:hover:not(.cart){
   background-color: $primary;
   transition: $smooth;
   color: $pure;
}

section.hero{
    background-color: $secondary;
}
.size{
    background-color: $secondary;
}
.add-to-cart{
    color: $primary;
    transition: $smooth;
    border:2px solid $primary;
    &:hover{
        background-color: $primary;
        border-color: $pure;
        color: $pure;
    }
}
.ordernow-btn{
    color: $primary;
    transition: $smooth;
    border:2px solid $primary;
    &:hover{
        background-color: $primary;
        border:2px solid $pure;
        color: $pure;
}
}